* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #4075ca;
  color: white;
}

.treesell {
  color: white;
  text-align: center;
  background-color: #4075ca;
  font-size: 50px;
}

.GuideBar {
  text-align: center;
  border: 0;
  background-color: #4075ca;
  color: #fff;
  cursor: pointer;
  position: relative;
  top: -8px;
}

.Btn {
  width: 60px;
  height: 30px;
}

button:hover {
  color: #003c9d;
  background-color: #fff;
  border: 2px #003c9d solid;
}

.img {
  background-color: aquamarine;
  width: 300px;
  height: 300px;
  padding: 30px;
  border: 30px;
}

.ProductName {
  text-align: center;
  padding-right: 50px;
  font-size: 25px;
}
